body {
  font-family: $font-primary;
  margin: 0 !important;
  padding-top: 60px;
}

a {
  color: $color-black;
  text-decoration: none;

  &:hover {
    color: $color-black;
    text-decoration: none;
  }
}

button,
input {
  border: none;
  padding: 0px;

  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

hr {
  border-color: $color-link-water;
}

img {
  height: auto;
  width: 100%;
}

svg {
  max-height: 100%;
  max-width: 100%;
}

b,
strong {
  font-family: $font-primary-bold;
  font-weight: unset;
}
