.accordion {
  border-radius: 10px;

  &__title {
    align-items: center;
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba($color-black, 0.08);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;

    &-icon {
      background-color: $color-sun;
      border: 1px solid $color-sun;
      border-radius: 100%;
      height: 20px;
      min-height: 20px;
      min-width: 20px;
      position: relative;
      transform: rotate(135deg);
      transition: ease 0.5s all;
      width: 20px;

      &:before {
        border-bottom: none;
        border-left: none;
        border-right: 2px solid $color-white;
        border-top: 2px solid $color-white;
        content: '';
        display: block;
        height: 7px;
        margin-left: 5px;
        margin-top: 6px;
        transition: ease 0.5s all;
        width: 7px;
      }
    }

    &-icon--is-opened {
      background-color: $color-white;
      transform: rotate(-45deg);

      &:before {
        border-color: $color-sun;
      }
    }
  }

  &__container {
    &-item {
      margin-top: 15px;
    }
  }

  &__page {
    background-color: $color-white;
    margin-top: 30px;

    &-list {
      padding: 0;

      &-item {
        border-top: 1px solid $color-gainsboro;
        list-style: none;
      }

      &-link {
        align-items: center;
        display: flex;
        font-size: rem($font-size-medium);
        justify-content: space-between;
        padding: 25px 0;
      }

      &-icon {
        fill: $color-sun;
        height: 25px;
        margin-left: 15px;
        min-height: 25px;
        min-width: 25px;
        width: 25px;
      }
    }
  }

  &__wrapper {
    border-top: 1px solid $color-link-water;
    flex-basis: 100%;
    margin-bottom: 30px;
    padding-top: 30px;

    &-text {
      font-size: rem($font-size-small);
      margin: 0;
    }
  }

  &--shadow {
    box-shadow: 0 4px 16px 0 rgba($color-black, 0.08);
  }

  &--shadow & {
    &__title {
      box-shadow: none;
    }
  }

  &__content--wrap {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $breakpoint-mobile) {
    &__wrapper {
      flex-basis: 48%;
      margin-right: auto;

      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    &__wrapper {
      flex-basis: 32%;
      margin-right: 2%;

      &:nth-child(2n) {
        margin-right: 2%;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    &__wrapper-text {
      font-size: rem($font-size-base);
    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
    &__wrapper {
      flex-basis: 23%;
      margin-right: 2%;

      &:nth-child(2n),
      &:nth-child(3n) {
        margin-right: 2%;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}
