.box-product {
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 4px 16px 0 rgba($color-black, 0.08);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;

  &__description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin-top: 10px;
    text-align: center;
  }

  &__title {
    &-content {
      font-family: $font-primary !important;
      font-size: rem($font-size-base) !important;
      overflow: hidden;
    }
  }

  &__button {
    margin-top: 10px;
  }
}
