.box-navigation {

  &__nav {
    justify-content: space-between;
  }

  &__title {
    margin: 25px 0 15px;

    &-content {
      color: $color-tangaroa;
      font-size: rem($font-size-medium);
      transition: all 0.3s ease;
    }

    &-content--is-active {
      color: $color-denim;
    }
  }

  &__content {
    margin-top: 20px;
    padding: 0 10px;
  }

  &__slide {
    &-wrapper {
      flex-wrap: nowrap;
    }

    &-item {
      padding: 0;
    }

    &-item:first-child {
      margin-left: 0 !important;
    }
  }

  &--full {
    box-shadow: none;
    margin: 0 -15px;
    overflow: hidden;
    padding: 20px 15px;
  }

  @media screen and (min-width: $breakpoint-mobile) {
    &__nav {
      justify-content: flex-start;
    }
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    &__content {
      font-size: rem($font-size-medium);
      margin-top: 35px;
    }

    &__title-content {
      font-size: rem($font-size-h1);
      line-height: rem($font-size-h1);
    }
  }
}
