.box {
  position: relative;

  &__image {
    border-radius: 10px;
    display: block;
    overflow: hidden;
    position: relative;

    &-content {
      transition: transform 0.5s ease;
    }

    &--dark {
      &:before {
        background-image: linear-gradient(to bottom, transparent, rgba($color-black, 0.8));
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;
      }
    }

    @media screen and ( min-width: $breakpoint-mobile-landscape ) {
      &-picture {
        display: block;
        height: 248px;
      }
    }
  }

  &__title {
    display: flex;

    &-content {
      font-size: rem($font-size-medium);
    }

    &--full {
      max-width: unset !important;
    }

    &--float {
      bottom: 20px;
      left: 20px;
      position: absolute;
      right: 20px;
      z-index: 1;
    }
  }

  &__icon {
    fill: $color-prussian-blue;
    margin-left: 10px;
    @include icon-size(25px);
  }

  &__description {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &--has-border {
    border-bottom: 1px solid $color-link-water;
    padding-bottom: 20px;
  }

  &--product {
    border-radius: 10px;
    box-shadow: 0px 2px 6px -2px rgba($color-black, .3);
    padding: 15px;
  }

  
  &--product & {
    &__title {
      align-items: center;
      display: flex;
      width: 100%;
    }
    
    &__title:after {
      border-right: 2px solid $color-sun;
      border-top: 2px solid $color-sun;
      content: '';
      height: 8px;
      margin-left: 15px;
      transform: rotate(45deg);
      width: 8px;
    }
  }

  &--product-download {   
    border: none;
    padding: 0;
  }

  &--product-download & {
    &__description {
      background-color: $color-white;
      border-radius: 10px;
      box-shadow: 0 10px 30px 0 rgba($color-black, 0.16);
      margin: 0 10px;
      padding: 15px;
      position: relative;
      transform: translateY(-25px);
      transition: transform 0.5s ease;
      z-index: 2;
    }

    &__title {
      margin: 0 auto;
      text-align: center;
    }

    &__image:before {
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: ease-out 0.5s all;
      visibility: hidden;
      z-index: 1;
    }
  }

  &--recipe {
    border: none;
    padding: 0;
  }

  &--recipe & {
    &__description {
      background-color: $color-white;
      border-radius: 10px;
      box-shadow: 0 10px 30px 0 rgba($color-black, 0.16);
      margin: 0 10px;
      padding: 15px;
      position: relative;
      transform: translateY(-25px);
      transition: transform 0.5s ease;
      z-index: 2;
    }

    &__title {
      margin: 0 auto;
      text-align: center;
    }

    &__image:before {
      bottom: 0;
      content: '';
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: ease-out 0.5s all;
      visibility: hidden;
      z-index: 1;
    }
  }

  &--product-download:hover & {
    &__description {
      transform: translateY(-15px);
    }

    &__image:before {
      opacity: 1;
      visibility: visible;
    }

    &__image-content {
      transform: scale(1.2);
    }
  }

  &--recipe:hover & {
    &__description {
      transform: translateY(-15px);
    }

    &__image:before {
      opacity: 1;
      visibility: visible;
    }

    &__image-content {
      transform: scale(1.2);
    }
  }

  @media screen and (max-width: $breakpoint-mobile-small) {
    &__title {
      max-width: 140px;
    }

    &__icon {
      @include icon-size(20px);
    }
  }

  @media screen and (min-width: $breakpoint-mobile) {
    &--has-border {
      border: none;
      padding: 0;
    }
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    &--recipe & {
      &__image:before {
        align-items: center;
        background-color: rgba($color-black, 0.5);
        color: $color-white;
        content: "Visualizar Receita";
        display: flex;
        font-family: $font-primary-bold;
        justify-content: center;
        text-transform: uppercase;
      }
    }
  }
}
