.card-recipe {
  &__information {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
  }

  &__text {
    margin-left: 5px;
  }

  &__likes,
  &__comments {
    align-items: center;
    color: $color-prussian-blue;
    display: flex;
    font-size: rem($font-size-x-small);

    @media(min-width: $breakpoint-mobile){
      font-size: rem($font-size-base);
    }
  }

  &__icon {
    fill: $color-east-bay;
    @include icon-size(18px);
  }

  &__heart {
    height: 16px;
    width: 18px;
  }
}
