.card-information {
  align-items: center;
  background: $color-white;
  border-radius: 10px;
  box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.08);
  display: flex;
  flex-basis: calc(50% - 10px);
  justify-content: center;
  padding: 12px;

  &__icon {
    fill: $color-prussian-blue;
    @include icon-size(35px);
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 12px;
  }

  &__tip {
    color: $color-east-bay;
    font-family: $font-primary-light;
    font-size: rem($font-size-small);
  }

  &__value {
    font-family: $font-size-base ;
  }

  @media screen and (min-width: $breakpoint-mobile-small){
    flex-basis: calc(50% - 10px);
    margin: 0;
  }
}

