.card-bullet {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 15px;

  &__content {
    align-items: center;
    border: 2px solid $color-white;
    border-radius: 100px;
    box-shadow: 0 8px 27px 0 rgba($color-black, 0.2);
    color: $color-sun;
    display: flex;
    font-size: rem($font-size-small);
    height: 55px;
    justify-content: center;
    overflow: hidden;
    transition: .5s;
    width: 55px;
  }

  &__description {
    color: $color-east-bay;
    margin-top: 9px;
    transition: .5s;
  }

  &--is-active &,
  &:hover & {
    text-decoration: none;

    &__content {
      border: 2px solid $color-prussian-blue;
    }

    &__description {
      color: $color-prussian-blue;
    }
  }

  @media(min-width: $breakpoint-mobile-landscape) {
    // max-width: 80px;

    &__content {
      height: 80px;
      width: 80px;
    }
  }
}
