.category-recipes {
  max-width: 100%;
  overflow: hidden;

  &__title {
    color: $color-prussian-blue;
    font-family: $font-primary-bold;
  }

  &__button {
    overflow: hidden;
  }

  &__product-slide,
  &__social {
    margin-top: 30px;
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    &__product-slide {
      margin-top: 60px;
    }

    &__social {
      margin: 40px 0;
    }
  }
}
