.circled-icon {
  background-color: $color-white;
  border: 2px solid $color-white;
  border-radius: 100%;
  box-shadow: 0 8px 27px 0 rgba($color-black, 0.2);
  height: 75px;
  padding: 15px;
  transition: background-color 0.2s ease;
  width: 75px;

  &__content {
    fill: $color-prussian-blue;
    height: 100%;
    transition: fill 0.2s ease;
    width: 100%;
  }

  &--is-active {
    background-color: $color-denim;
  }

  &--is-active & {
    &__content {
      fill: $color-white;
    }
  }

  @media screen and (max-width: $breakpoint-mobile-small) {
    &--small {
      height: 65px;
      margin: 0 auto;
      padding: 15px;
      width: 65px;
    }
  }

  @media screen and (min-width: $breakpoint-mobile) {
    height: 100px;
    padding: 20px;
    width: 100px;
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    height: 120px;
    padding: 20px;
    width: 120px;
  }
}
