.comments {
  list-style-type: none;
  padding-left: 0;

  &__top {
    align-items: center;
    display: flex;
  }

  &__title {
    font-size: rem($font-size-medium);

    @media screen and ( min-width: $breakpoint-tablet ) {
      font-size: rem($font-size-h1);
    }
  }

  &__icon {
    fill: $color-prussian-blue;
    height: 30px;
    margin-right: 12px;
    width: 30px;
  }
}
