.contact-box {
  background-color: $color-white;
  box-shadow: 0 10px 30px 0 rgba($color-black, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 20px;

  &__title {
    width: 100%;
  }

  &__item {
    border-bottom: 1px solid $color-link-water;
    padding: 30px 0px;

    &:last-child {
      border-bottom: none;
    }

    &-header {
      align-items: center;
      display: flex;
    }

    &-icon {
      fill: $color-prussian-blue;
      height: 35px;
      margin-right: 25px;
      min-height: 35px;
      min-width: 35px;
      width: 35px;
    }

    &-title {
      &-content {
        color: $color-tangaroa;
        font-size: rem($font-size-medium);
      }
    }

    &-highlighted {
      margin-top: 20px;

      &-content {
        color: $color-prussian-blue;
        font-size: rem($font-size-large);
      }
    }

    &-link {
      margin: 10px 0 0;
    }

    &-description {
      margin-top: 20px;

      &--text-blue {
        color: $color-prussian-blue;
      }

      &--no-margin {
        margin: 0;
      }
    }
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    &__title {
      display: none;
    }

    &__item {
      border-bottom: none;
    }

    &--padding {
      padding: 30px 50px;
    }
  }
}
