.filter {
  display: flex;
  flex-direction: column;

  &__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__container-bullets {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  &__top {
    color: $color-sun;
    cursor: pointer;
    display: flex;
    font-family: $font-primary-light;
  }

  &__icon {
    fill: $color-sun;
    height: 20px;
    margin-right: 10px;
    width: 20px;
  }

  &__description-large {
    font-size: rem($font-size-large);
  }

  &__content {
    margin-top: 30px;
  }

  &__bullet {
    align-items: baseline;
    background-color: $color-gainsboro;
    border-radius: 15px;
    color: $color-east-bay;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: $font-primary-light;
    justify-content: space-between;
    margin: 0 10px 5px 0;
    padding: 0 8px;
    vertical-align: middle;

    &-close {
      border-radius: 100px;
      display: flex;
      font-size: rem($font-size-x-small);
      height: 15px;
      justify-content: center;
      margin-left: 3px;
      vertical-align: middle;
      width: 15px;

      &:hover {
        background-color: $color-manatee;
        color: $color-white;
      }
    }
  }

  &__clock-time {
    border-bottom: 1px solid $color-white-smoke;
    display: none;
    padding-bottom: 20px;
  }

  &__slider {
    margin: 10px 15px 0 0;
  }
}
