.footer {
  background-color: $color-gainsboro;
  padding: 40px 0px;
  margin-top: 48px;

  &__widgets {
    margin-bottom: 40px;
    padding: 0px;
  }

  &__logo {
    margin: 40px auto 0px;
    max-height: 75px;
    max-width: 190px;
  }

  &__credits {
    color: $color-light-slate-grey;
    font-family: $font-primary;
    font-size: rem($font-size-small);
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
  }

  @media screen and (min-width: $breakpoint-mobile) {
    &__logo {
      margin: 0 auto;
    }
  }
}
