.header {
  background-color: $color-prussian-blue;
  height: 60px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.5s ease;
  z-index: 8;

  &__container {
    display: flex;
    justify-content: center;
    padding-right: 0;
    width: 100%;
    margin-right: 0;
    padding-left: 0;
    position: relative;
    max-width: none;
  }

  &__logo {
    height: 40px;
    margin: 10px 15px;
    width: 100px;
  }

  &__iconSearch,
  &__iconClose {
    width: 20px;
    height: 20px;
    fill: $color-white;
    position: absolute;
    top: 50%;
    cursor: pointer;
    right: 16px;
    transform: translate(0,-50%);
  }

  &__iconSearch:hover {
    opacity: 0.4;
  }

  &__iconClose {
    display: none;
  }

  &__iconClose-menu {
    right: auto;
    left: 45px;
    display: block;
  }

  &__actions  {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
  }

  &__navbar {
    left: 0;
    position: absolute;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    box-shadow: 0px -60px 40px 40px rgba($color-black, 0.8);

    &__container {
      position: relative;
      padding: 0 !important;
      justify-content: space-between;
      max-width: 1140px;
      margin-right: auto;
    }

    &__logo{
      order: -1;
    }

    &__actions {

      &-button-hamburguer{
        display: none;
      }

      &-icon-search:hover{
        opacity: 0.4;
        @include icon-size(60px)
      }
    }

    &__search{
      display: none;
      width: 100%;
      padding: 10px 10px 5px 10px;

      &-bar{
        color: $color-white;
      }
    }

    &__navbar {
      position: relative;
      left: auto;
      right: 80px;
    }
  }


  @media screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-mobile-landscape) {
    &__container {
      padding: 0;
    }
  }
}
