.information {

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    align-items: center;
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0 4px 16px 0 rgba($color-black, 0.08);
    display: flex;
    flex-basis: 48%;
    flex-direction: column;
    justify-content: center;
    margin: 0 4% 4% 0;
    min-height: 100px;
    padding: 10px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  &__icon {
    fill: $color-prussian-blue;
    height: 40px;
    text-align: center;
    width: 40px;

    &-alignment {
      height: auto;
      max-height: 100%;
      max-width: 100%;
      width: auto;
    }
  }

  &__description {
    margin-top: 10px;

    &-text {
      color: $color-east-bay;
      font-size: rem($font-size-x-small);
      line-height: $font-size-small;
      margin-bottom: 0;
      text-align: center;
    }
  }

  @media screen and (min-width: $breakpoint-mobile-small) {
    &__item {
      flex-basis: 30%;
      margin: 0 5% 5% 0;

      &:nth-child(2n){
        margin: 0 5% 5% 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {

    & {
      display: flex;
    }

    &--fifth {
      flex: 1;
      margin: 0 15px;
    }

    &__item {
      margin: 0 2.66% 2.66% 0;

      &:nth-child(2n),
      &:nth-child(3n){
        margin: 0 2.66% 2.66% 0;
      }

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }

  @media screen and (min-width: $breakpoint-tablet) {
    &__item {
      margin: 0 2.5% 2.5% 0;

      &:nth-child(2n),
      &:nth-child(3n),
      &:nth-child(4n) {
        margin: 0 2.5% 2.5% 0;
      }

      &:nth-child(5n) {
        margin-right: 0;
      }
    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
    &__item {
      margin: 0 2% 2% 0;
      max-width: 25%;

      &:nth-child(2n),
      &:nth-child(3n),
      &:nth-child(4n),
      &:nth-child(5n) {
        margin: 0 2% 2% 0;
      }

      &:nth-child(6n) {
        margin-right: 0;
      }
    }
  }
  
  @media screen and ( max-width: $breakpoint-mobile-landscape ) {
    &--fifth {
      margin-top: 30px;
    }
  }
}
