.like {
  direction: rtl;
  position: relative;

  &__content {
    height: 40px;
    opacity: 0;
    position: absolute;
    transition: 0.5s;
    width: 40px;

    &:first-child {
      opacity: 1;
    }
  }

  &--liked &{

    &__content {
      &:first-child {
        opacity: 0;
      }

      &:last-child {
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
}
