.navbar {
  background-color: $color-prussian-blue;
  display: block;
  height: 100vh;
  left: -100%;
  padding: 0;
  position: fixed;
  top: 0;
  transition: left 0.5s ease, visibility 0.5s ease;
  visibility: hidden;
  width: 100vw;
  z-index: 9;


  &__header {
    align-items: center;
    border-bottom: 1px solid rgba($color-white, 0.1);
    display: flex;
    height: 100px;
    justify-content: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

    &-logo {
      height: 40px;
      margin: 0 auto;
      opacity: 0;
      transition: 1.5s opacity cubic-bezier(0.4, 0, 0.2, 1);
      width: 100px;
    }

    &-search {
      align-items: center;
      background-color: rgba($color-white, 0);
      display: flex;
      height: 100%;
      justify-content: center;
      width: 25vw;
      visibility: visible;
    }

    &-search-content {
      display: block;
      fill: $color-white;
      @include icon-size(20px)
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-height: calc(100% - 211px);
    overflow-y: auto;
    padding: 0;
    position: relative;

    &-text {
      font-size: rem($font-size-base);
    }

    &-link {
      align-items: center;
      color: $color-white;
      display: flex;
      font-family: $font-primary-bold;
      padding: 10px 0;
      text-transform: uppercase;
      width: 100vw;

      &:hover,
      &:focus {
        color: $color-white;
      }
    }

    &-icon {
      min-width: 35vw;
      width: 35vw;

      &-content {
        fill: $color-sun;
        height: 40px;
        margin: 0 auto;
        width: 40px;
      }
    }
  }

  &__list-item {
    border-bottom: 1px solid rgba($color-white, 0.1);
    color: $color-white;
    cursor: pointer;
    height: 100%;
    list-style: none;

    &:last-child {
      border-bottom: 0px
    }

    @for $count from 1 through 10 {
      &:nth-child(#{$count}) {
        background-color: lighten($color-prussian-blue, $count * 1.5%);
      }
    }
  }

  &__social {
    padding: 20px 0;
    width: 100%;

    &-title {
      color: $color-white;
      font-size: $font-size-medium;
      text-align: center;
    }

    &-list {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      margin: 0 auto;
      max-width: 250px;
      padding: 15px 0 0;

      &-link {
        display: block;
        fill: $color-white;
        @include icon-size(35px);
      }
    }
  }

  &--is-active {
    animation: opacityToVisible .5s;
    left: 0;
    transition: left 0.5s ease;
    visibility: visible;
  }

  &--is-active & {
    &__header-logo {
      opacity: 1;
    }

    &__list-text {
      font-size: rem($font-size-base);
    }
  }
}

@keyframes opacityToVisible {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (min-width: $breakpoint-mobile-small) {
  .navbar {
    &__list-link {
      padding: 15px 0;
    }

    &__list-icon-content {
      height: 50px;
      width: 50px;
    }
  }
}

@media screen and (min-width: $breakpoint-tablet) {
  .navbar {
    height: 100%;
    left: unset;
    overflow: hidden;
    padding: 0;
    position: relative;
    transition: none;
    visibility: visible;
    width: 100%;

    &__header,
    &__social {
      display: none;
    }

    &__list {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 100%;
      max-height: none;
      overflow-y: hidden;
    }

    &__list-icon {
      display: none;
    }

    &__list-text {
      color: $color-manatee;
      font-size: $font-size-x-small;
      text-transform: uppercase;
      transition: ease 0.3s all;
    }

    &__list-link {
      color: $color-manatee;
      height: 100%;
      margin-left: 15px;
      padding: 10px;
      position: relative;
      width: auto;
    }

    &__list-link:hover &__list-text {
      color: $color-white;
    }
  }

  .navbar__list-item {
    border-bottom: none;

    &:first-child {
      margin-left: 15px;
    }

    @for $count from 1 through 10 {
      &:nth-child(#{$count}) {
        background-color: $color-prussian-blue;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-mobile-landscape) {
  .navbar {
    &__list-text {
      font-size: rem($font-size-base);
    }
  }
}
