.not-found {
  text-align: center;
  margin: 3em 0;

  &__icon {
    margin-bottom: 70px;
  }

  &__description {
    color: $color-east-bay;
    font-family: $font-primary-light;
    padding: 0 60px;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__detail {
    color: $color-prussian-blue;
    display: block;
  }

  &__btn {
    margin-top: 38px;
  }
}
