.nutritional-table {
  font-size: rem($font-size-x-small);
  margin-top: 10px;
  width: 100%;

  &__header,
  &__body {
    &-row {
      border-radius: 10px;
      display: flex;
      margin-top: 10px;
    }

    &-data {
      border-right: 0.5px solid $color-white;
      padding: 15px 10px;

      &:nth-child(1) {
        width: 50%;
      }

      &:nth-child(2) {
        text-align: center;
        width: 15%;
      }

      &:nth-child(3) {
        border-right: none;
        width: 35%;
      }
    }
  }

  &__header {
    background-color: $color-sun;
    border-radius: 10px;
    color: $color-white;
    display: block;
  }

  &__body {
    &-row {
      background-color: $color-white-smoke;

      &:nth-child(2n) {
        background-color: $color-link-water;
      }
    }
  }

  &__footer {
    margin-top: 35px;

    &-description {
      color: $color-east-bay;
      line-height: 25px;
    }
  }
}
