.product-slide {

  &__container {
    list-style: none;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 25px;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
  }

  &__item {
    padding: 0 30px;
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__prev,
  &__next {
    background-color: $color-prussian-blue;
    border-radius: 50%;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.16);
    color: $color-white !important;
    height: unset !important;
    width: unset !important;
  }

  &__prev {
    padding: 0 12px 0 10px;
  }

  &__next {
    padding: 0 10px 0 12px;
  }

  &__prev:after,
  &__next:after {
    font-size: rem($font-size-h1) !important;
  }

  &__button {
    margin-top: 25px;
    overflow: hidden;
    padding-bottom: 30px;
  }
  
  
  @media(max-width: $breakpoint-mobile) {
    &__item {
      padding: 0;
    }

    &__wrapper {
      max-height: 212px !important;
    }

  }

  @media screen and (min-width: $breakpoint-mobile-small) and (max-width: $breakpoint-mobile-small-extra) {
    &__item {
      padding: 0;
    }

    &__wrapper {
      max-height: 240px !important;
    }

  }

  @media screen and (min-width: $breakpoint-mobile-small-extra) and (max-width: $breakpoint-mobile) {
    &__item {
      padding: 0;
    }

    &__wrapper {
      max-height: 280px !important;
    }

  }

  @media screen and (min-width: $breakpoint-mobile) {
    &__item {
      padding: 0;
    }

    &__wrapper {
      max-height: 302px !important;
    }

  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    &__item {
      padding: 0;
    }

    &__wrapper {
      max-height: 216px !important;
    }
  }


  @media screen and (min-width: $breakpoint-tablet) {
    &__wrapper {
      max-height: 306px !important;
    }

    &__prev:after,
    &__next:after {
      font-size: rem($font-size-extra-large) !important;
    }

    &__prev {
      padding: 0 16px 0 14px;
    }

    &__next {
      padding: 0 14px 0 16px;
    }
  }

}
