.recipe-content {
  color: $color-east-bay;
  line-height: 1.88;

  &__top {
    align-items: center;
    color: $color-prussian-blue;
    display: flex;
    font-family: $font-primary-bold;
    font-size: rem($font-size-medium);
    margin: 30px 0 15px;
  }

  &__title {
    margin-left: 15px;
  }

  &__icon {
    fill: $color-prussian-blue;
    height: 35px;
    width: 35px;
  }

  &--chef-clue {
    background-color: $color-white;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba($color-east-bay, 0.16);
    color: $color-east-bay;
    margin: 60px 10px;
    padding: 1px 24px 24px 24px;

    @media(min-width: $breakpoint-mobile) {
      margin: 40px auto 60px auto;
      max-width: 70%;
    }
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    &__top {
      margin: 30px 0;
    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
    &__title {
      font-size: rem($font-size-h1);
      line-height: $font-size-h1;
    }
  }
}
