.related-content {

  &__title {
    font-family: $font-primary-bold;
    font-size: rem($font-size-medium);
    color: $color-prussian-blue;

    @media (min-width: $breakpoint-tablet){
      font-size: rem($font-size-h1);
    }
  }
}
