.search-form {
  position: absolute;
  top: 0;
  left: 0;
  background: $color-prussian-blue;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  transition: .3s;

  &--is-active {
    opacity: 1;
    visibility: visible;
  }

  &__label {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  &__field {
    width: 85%;
    height: 100%;
    border: 0;
    padding-right: 100px;
    background: none;
    background-color: $color-prussian-blue;

    &::placeholder{
      color: $color-white;
    }
  }

  &__field:focus{
    background: $color-prussian-blue;
    color: $color-white;
  }

  &__submit-button {
    width: 40px;
    height: 100%;
    right: 45px;
    z-index: 1;
    cursor: pointer;
    top: 0;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    order: -1;
  }

  &__iconClose,
  &__iconSearch {
    position: static;
    transform: none;
    display: flex;
    background: $color-prussian-blue;
  }

  &__iconClose {
    height: 100%;
    width: 45px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 14px;
  }
}
