.search {
  position: relative;

  &__icon {
    height: 11px;
    left: 13px;
    position: absolute;
    top: 8px;
    width: 11px;
    z-index: 1;
  }

  &__input {
    background-color: $color-solitude;
    border-radius: 100px;
    color: $color-east-bay;
    font-family: $font-primary-light;
    font-size: rem($font-size-small);
    padding: 12px 12px 12px 30px;
    position: relative;
    width: 100%;

    &-clean {
      display: inline;
      position: absolute;
      color: $color-east-bay;
      padding: 10px 15px;
      right: 120px;

      &-icon {
        border-radius: 360px;
        // border: solid 1px $color-east-bay;
        fill: $color-east-bay;
        @include icon-size(13px);
      }

      &-icon:hover {
        border-radius: 360px;
        border: solid 1px $color-east-bay;
        fill: $color-east-bay;
        @include icon-size(15px);
      }
    }

    &::placeholder {
      color: $color-east-bay;
      font-size: rem($font-size-small);
    }
  }

  &__button {
    background-color: $color-sun;
    display: block;
    font-size: rem($font-size-x-small);
    font-family: $font-primary;
    max-height: 43px;
    padding: 14px 26px;
    position: absolute;
    right: 0;
    top: 1px;

    @media (min-width: $breakpoint-tablet) {
      padding: 14px 30px;
    }
  }

  &__result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    margin-bottom: 100px;

    &-categories {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }

    &-categories--tags {
      border: solid $color-prussian-blue 2px;
      font-family: $font-primary-light;
      color: $color-prussian-blue;
      display: inline-block;
      margin: 0.4em 0.5em 1em;
      padding: 0.586em 1em;
      border-radius: 30px;
      text-transform: uppercase;
      transition: 500ms;
    }

    &-categories--active {
      color: $color-white;
      background-color: $color-prussian-blue;
    }

    &-categories--tags:hover {
      color: $color-white;
      background-color: $color-prussian-blue;
    }

    &-categories--tags:target {
      color: $color-white;
      background-color: $color-prussian-blue;
    }

    &-message {
      text-align: center;
      color: $color-prussian-blue;
      margin-bottom: 50px;
    }

    &-card {
      &-image::before {
        content: "visualizar" !important;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        background-color: rgba(0, 0, 0, 0.5) !important;
        text-transform: uppercase;
      }
    }
  }

  &__mensage {
    text-align: center;
  }
}
