.social-media {
  padding: 0px 15px;

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 160px;
    padding: 0;

    &-item {
      list-style: none;
    }

    &-icon {
      display: block;
      fill: $color-prussian-blue;
      @include icon-size(40px);
    }
  }
}
