.used-products{
  background-color: $color-white;
  border-radius: 10px;
  box-shadow: 0 4px 16px 0 rgba(69, 91, 99, 0.08);
  display: flex;
  padding: 11px;

  &__image {
    height: 70px;
    margin-right: 10px;
    min-width: 70px;
    width: 70px;
  }

  &__description {
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    color: $color-sun;
    cursor: pointer;
    display: block;
    text-decoration: underline;
    width: 100%;
  }

  &__tip {
    color: $color-east-bay;
    font-family: $font-primary-light;
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    flex-direction: column;

    &__image {
      height: 100px;
      margin: 0 auto;
      width: 100px;
    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
    &__image {
      height: 120px;
      width: 120px;
    }
  }
}
