.btn-default {
  background-color: $color-sun;
  border-radius: 24px;
  box-shadow: 0 8px 15px 0 rgba($color-manatee, 0.36);
  color: $color-white;
  cursor: pointer;
  display: inline-block;
  font-family: $font-primary-bold;
  font-size: rem($font-size-small);
  line-height: rem($font-size-small);
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition-duration: 0.3s;
  transition-property: background-color;
  transition-timing-function: ease-out;
  white-space: nowrap;

  &:hover {
    background-color: darken($color-sun, 10);
    color: $color-white;
  }

  &--medium {
    padding: 14px 32px;
  }

  &--fat {
    padding: 20px 25px;
  }

  &--no-shadow {
    box-shadow: none;
  }

  &--blue {
    background-color: $color-prussian-blue;
  }

  &--section {
    left: 50%;
    position: relative;
    transform: translateX(-50%);

    &:before,
    &:after {
      background-color: $color-gainsboro;
      content: '';
      height: 1px;
      position: absolute;
      top: calc(50% - 1px);
      width: 500px;
    }

    &:before {
      left: 100%;
    }

    &:after {
      right: 100%;
    }
  }

  @media screen and (max-width: $breakpoint-mobile-small) {
    &--x-small {
      font-size: rem($font-size-x-small);
      padding: 8px 10px;
    }
  }

  @media screen and (min-width: $breakpoint-mobile) {
    &--section {
      font-size: rem($font-size-base);
    }
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    &--section {
      padding: 15px 40px;
    }
  }
}
