.btn-hamburguer {
  align-items: center;
  background-color: rgba($color-white, 0);
  display: flex;
  height: 60px;
  justify-content: center;
  position: relative;
  transition: 0.5s all ease;
  width: 65px;
  z-index: 10;

  &__trace {
    background-color: $color-white;
    height: 2px;
    position: relative;
    transition: 0.5s all ease;
    width: 20px;

    &:before,
    &:after {
      background-color: $color-white;
      content: '';
      height: 2px;
      left: 0px;
      position: absolute;
      transition: 0.5s all ease;
      width: 20px;
    }

    &:before {
      top: -7px;
    }

    &:after {
      bottom: -7px;
      transition: 0.2s all ease;
    }
  }

  &:focus {
    outline: none;
  }
}
