.link {
  color: $color-sun;
  font-size: rem($font-size-small);
  line-height: $font-size-small;
  text-decoration: underline;
  display: inline-block;
  background: transparent;

  &--medium {
    font-size: rem($font-size-medium);
    line-height: $font-size-medium;
  }
}
