.title {
  font-family: $font-primary-bold;
  font-size: rem($font-size-medium);
  line-height: 120%;
  margin-bottom: 0px;

  &--accent {
    color: $color-prussian-blue;
  }

  &--sun {
    color: $color-sun;
  }

  &--black {
    color: $color-tangaroa;
  }

  &--white {
    color: $color-white;
  }

  &--regular {
    font-family: $font-primary;
  }

  &--large {
    font-size: rem($font-size-h3);
    line-height: $font-size-h3;
  }

  &--hover-sun {
    &:hover {
      color: $color-sun;
    }
  }

  &--section {
    margin-bottom: .5rem;
    width: 100%;
  }

  &--truncate {
    @include truncate(4);
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    font-size: rem($font-size-h1);
    line-height: $font-size-h1;

    &--head {
      font-size: rem($font-size-extra-large);
      line-height: $font-size-extra-large;
    }
  }
}
