.app-column-editor {
  [data-type="core/image"] {
    [data-block] {
      margin: unset;
    }
  }
  .wp-block-image {
    .components-resizable-box__container {
      img {
        height: 35px;
        width: 35px;
      }
    }
  }
}
