
.title {
  font-family: $font-primary-bold;
  font-size: $font-block-medium;
  line-height: 120%;
  margin-bottom: 0px;

  &--content {
    color: $color-tangaroa;
    font-size: $font-block-medium;
  }
  
  &--accent {
    color: $color-prussian-blue;
  }

  &--sun {
    color: $color-sun;
  }

  &--black {
    color: $color-tangaroa;
  }

  &--white {
    color: $color-white;
  }

  &--regular {
    font-family: $font-primary;
  }

  &--large {
    font-size: $font-block-large;
    line-height: $font-size-h3;
  }

  &--hover-sun {
    &:hover {
      color: $color-sun;
    }
  }

  &--section {
    margin-bottom: .5rem;
    width: 100%;
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    font-size: $font-block-h1;
    line-height: $font-size-h1;

    &--head {
      font-size: $font-size-extra-large;
      line-height: $font-size-extra-large;
    }
  }
}
