.archive-product {

  &__banner {
    max-width: 100%;
    margin: 30px auto 0 auto;
  }

  &__title {
    margin-top: 20px;
    max-width: 250px;
  }

  &__search {
    margin-top: 25px;
    position: relative;
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    &-item {
      margin-top: 20px;
      order: 2;

      &--show {
        order: 1;
      }

      &--bottom-space {
        padding-bottom: 30px
      }
    }
  }

  &__product-slide {
    margin-top: 60px;
  }

  &__social {
    margin: 30px 0;
  }

  @media screen and (min-width: $breakpoint-tablet) {
    &__title {
      margin: 80px 0 50px;
      max-width: unset;
    }
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    &__banner {
      max-width: 70%;
      margin: 30px auto 0 auto;
    }
  }
}
