.header-recipe {
  &__title {
    align-items: center;
    display: block;
    display: flex;
    font-size: rem($font-size-h3);
    line-height: 1.18;
    margin: 24px 0;
  }

  &__search {
    margin-bottom: 24px;
    width: 100%;
  }

  &__filter {
    margin-top: 25px;
  }

  @media(min-width: $breakpoint-mobile-landscape) {
    &__title {
      font-size: rem($font-size-extra-large);
    }

    &__search {
      margin-bottom: 0;
    }
  }
}
