.home-page {
  &__banner {
    &-bottom {
      margin: 0 -15px;
      position: relative;
    }
  }

  &__recipe {
    margin-top: 50px;

    &-item {
      display: block;
      margin-top: 30px;
    }

    &-button {
      margin-top: 25px;
      overflow: hidden;
      padding-bottom: 30px;
    }
  }

  &__slide {
    margin-top: 40px;

    &-top {
      &-container {
        margin: 0 auto;
        max-width: 1600px;
        overflow: hidden;
        padding: 0;
        position: relative;
        z-index: 1;
      }

      &-img {
        max-height: 60vh;
      }

      &-button {
        bottom: 50px;
        position: relative;
        display: flex;
        justify-content: center;
      }

      &-margin-control:first-child {
        margin-left: 0;
      }
    }

    &-bottom {
      margin-top: 15px;

      &-container {
        list-style: none;
        margin-left: -15px;
        margin-right: -15px;
        margin-top: 25px;
        overflow: hidden;
        padding: 0;
        position: relative;
        z-index: 1;
      }
    }

    &-button {
      margin-top: 25px;
      overflow: hidden;
      padding-bottom: 15px;
    }
  }

  &__social {
    margin-top: 40px;
  }

  &__newsletter {
    background-color: rgba($color-gainsboro, 0.4);
    margin: 40px -15px 0;
    padding: 35px 30px 60px;

    &-subtitle {
      margin-top: 30px;

      &-content {
        color: $color-light-slate-grey;
      }
    }
  }

  @media screen and (min-width: $breakpoint-mobile) {
    &__newsletter {
      border-radius: 10px;
      margin: 30px 0 0;
      padding: 30px 20px;
    }

    &__banner-bottom {
      margin: 30px 0;
    }
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    &__slide {
      &-button {
        margin-top: 60px;
        overflow: hidden;
        padding-bottom: 30px;
      }

      &-top-wrapper {
        margin: 0;
      }
    }

    &__recipe {
      margin-top: 80px;

      &-item,
      &-button {
        margin-top: 50px;
      }
    }

    &__newsletter {
      border-radius: 10px;
      margin: 50px 0 0;
      padding: 30px 20px;

      &-form {
        align-items: center;
        display: flex;
        justify-content: center;
      }

      &-field {
        flex-grow: 2;
        margin-right: 15px;
        margin-top: 0 !important;
      }

      &-field:last-child {
        flex-grow: 0;
        margin-right: 0;
      }
    }

    &__banner-bottom {
      margin: 50px 0;
    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
    &__newsletter {
      padding: 50px;
    }
  }
}
