.page-recipe {
  overflow: hidden;

  &__content {
    padding-left: 15px;

    &-button {
      margin: 20px 0 30px 0;
    }
  }

  &__related {
    margin-right: -15px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    min-height: 42px;
  }

  &__product-slide {
    margin-top: 60px;
  }

  &__social {
    margin-top: 30px;
  }

  &__comments {
    margin-top: 60px;
  }
}
