.page-about-us {
  padding-bottom: 40px;

  &__banner {
    max-width: 100%;
    margin: 30px auto 0 auto;
  }

  &__story {
    margin-top: 20px;

    &-subtitle {
      color: $color-tangaroa;
      font-family: $font-primary-light;
      margin-top: 20px;
    }

    &-slide {
      &-wrapper {
        list-style: none;
        margin-left: -15px;
        margin-right: -15px;
        overflow: hidden;
        padding: 15px 0;
        position: relative;
        z-index: 1;
      }

      &-box {
        border-radius: 10px;
        box-shadow: 0 0 16px 0 rgba($color-black, 0.1);
        margin: 0 30px;
        overflow: hidden;
      }

      &-item:first-child {
        margin-left: 0 !important;
      }

      &-prev,
      &-next {
        top: 100px !important;
      }

      &-prev {
        left: 20px !important;
      }

      &-next {
        right: 20px !important;
      }

      &-prev:after,
      &-next:after {
        background-color: $color-prussian-blue;
        border-radius: 50%;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
        color: $color-white;
        font-size: rem($font-size-h1) !important;
      }

      &-next:after {
        padding: 2px 12px 2px 14px;
      }

      &-prev:after {
        padding: 2px 14px 2px 12px;
      }
    }

    &-description {
      margin-top: 30px;
      padding: 0 20px 20px;

      &-wrapper {
        margin-top: 15px;
        overflow: hidden;
        position: relative;
        transition-duration: 0.5s;
        transition-property: all;
        transition-timing-function: ease;
      }

      &-wrapper--max {
        max-height: 150px;
      }

      &-wrapper--full {
        max-height: 1000px;
      }

      &-wrapper--full:after {
        content: none;
      }

      &-text {
        color: $color-east-bay;
        line-height: 25px;
      }

      &-text:last-child {
        margin-bottom: 0;
      }

      &-button {
        background: linear-gradient(0deg, $color-white 50%, rgba($color-white, 0) 100%);
        border-radius: 0 0 10px 10px;
        bottom: 0;
        left: 0;
        max-width: 100%;
        padding: 50px 20px 15px;
        position: absolute;
        width: 100%;
        z-index: 1;
      }

      &-button--hidden {
        opacity: 0;
        transition: all 0.3s ease;
        visibility: hidden;
      }
    }

    &-institutional {
      &-list {
        padding-left: 15px;
      }

      &-list-item {
        list-style: circle;
      }
    }
  }

  &__contact {
    margin-top: 30px;

    &-box {
      margin-top: 30px;
    }
  }

  &__accordion {
    &-item {
      margin-top: 15px;
    }
  }

  &__location {
    margin-top: 30px;
  }

  &__politics {
    background-color: $color-white;
    margin-top: 30px;

    &-list {
      padding: 0;

      &-item {
        border-top: 1px solid $color-gainsboro;
        list-style: none;
      }

      &-link {
        align-items: center;
        display: flex;
        font-size: rem($font-size-medium);
        justify-content: space-between;
        padding: 25px 0;
      }

      &-icon {
        fill: $color-sun;
        height: 25px;
        margin-left: 15px;
        min-height: 25px;
        min-width: 25px;
        width: 25px;
      }
    }
  }

  &__teste {
    background-color: $color-white;
    margin-top: 30px;

    &-list {
      padding: 0;

      &-item {
        border-top: 1px solid $color-gainsboro;
        list-style: none;
      }

      &-link {
        align-items: center;
        display: flex;
        font-size: rem($font-size-medium);
        justify-content: space-between;
        padding: 25px 0;
      }

      &-icon {
        fill: $color-sun;
        height: 25px;
        margin-left: 15px;
        min-height: 25px;
        min-width: 25px;
        width: 25px;
      }
    }
  }

  &__certifications {
    margin-top: 30px;

    &-box {
      &-item {
        border-top: 1px solid $color-link-water;
        padding-bottom: 20px;
      }
    }
  }

  &__responsability {
    margin-top: 50px;

    &-box {
      margin-top: 20px;
    }

    &-slide {
      position: relative;
    }
  }

  &__social {
    margin-top: 40px;
  }

  &__separate {
    margin: 50px 0;
  }

  @media screen and (min-width: $breakpoint-mobile) {
    &__story-subtitle {
      font-size: rem($font-size-base);
      margin-top: 10px;
    }
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    &__banner {
      max-width: 70%;
      margin: 30px auto 0 auto;
    }

    &__story {
      margin-top: 30px;

      &-subtitle {
        font-size: rem($font-size-h3);
      }

      &-description-text {
        font-size: rem($font-size-medium);
      }

      &-slide-box {
        margin: 0;
      }

      &-slide-prev {
        left: 10px !important;
      }

      &-slide-next {
        right: 10px !important;
      }
    }
  }

  @media screen and (min-width: $breakpoint-tablet) {
    &__story {
      margin-top: 50px;

      &-slide-prev {
        left: 20px !important;
      }

      &-slide-next {
        right: 20px !important;
      }

      &-slide-prev:after,
      &-slide-next:after {
        font-size: rem($font-size-extra-large) !important;
      }

      &-slide-prev:after {
        padding: 2px 20px 2px 16px !important;
      }

      &-slide-next:after {
        padding: 2px 16px 2px 20px !important;
      }
    }

    &__contact-box {
      display: inline-block;
    }


  }

  @media screen and (min-width: $breakpoint-desktop) {
    &__separate {
      margin: 60px 0;
    }
  }
}
