.page-contact-us {
  &__banner {
    max-width: 100%;
    margin: 30px auto 0 auto;
  }

  &__title {
    margin-top: 20px;
  }

  &__contact-box {
    margin-top: 25px;
  }

  &__email {
    margin-top: 50px;
    padding: 0px 15px;

    &-title {
      margin-bottom: 25px;
    }
  }

  &__accordion {
    &-item {
      margin-top: 15px;
    }

    &-wrapper {
      border-top: 1px solid $color-link-water;
      margin-bottom: 30px;
      padding-top: 30px;

      &-text {
        font-size: rem($font-size-small);
        margin: 0;
      }
    }
  }

  &__location {
    margin: 50px 0;
  }

  &__social {
    margin: 25px 0;
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    &__banner {
      max-width: 70%;
    }

    &__title {
      margin-top: 80px;
    }

    &__contact-box {
      margin-top: 50px;
    }

    &__email {
      margin-top: 80px;
      padding: 0;

      &-title {
        margin-bottom: 50px;
        max-width: 700px;
      }
    }

    &__product-slide {
      margin-top: 80px;
    }

    &__social {
      margin: 60px 0;
    }
  }
}
