.page-product {
  overflow: hidden;

  &__banner {
    margin-top: 30px;
  }

  &__title {
    margin-top: 20px;
  }

  &__category {
    margin-top: 28px;

    &-title {
      color: $color-east-bay;
      margin-bottom: 0;
    }

    &-shortcut {
      margin-top: 20px;
    }
  }

  &__list {
    margin-bottom: 30px;

    &-item {
      margin-top: 30px;
    }
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    &__list {
      margin-bottom: 50px;
    }

    &__list-item {
      margin-bottom: 50px;
      padding: 15px;
    }

    &__list-item:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
    &__title {
      margin-top: 80px;
    }
  }
}
