.single-product {
  &__title {
    margin-top: 40px;
  }

  &__image {
    margin: 20px auto 0px;
  }

  &__description {
    color: $color-east-bay;
    margin-top: 40px;
  }

  &__accordion {
    margin-top: 20px;
  }

  &__information {
    margin-top: 30px;
  }

  &__related {
    margin-bottom: 70px;
    margin-top: 50px;

    &-title {
      max-width: 200px;
    }

    &-slide {
      margin-top: 20px;

      &-space {
        margin: 10px 0;
      }
    }
  }

  &__product-slide {
    margin-top: 60px;
  }

  &__social {
    margin: 30px 0 50px 0;
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    &__box-head {
      display: flex;
      justify-content: center;
      flex-direction: column;
      &-image {
        flex: 1;
        max-width: 50vw;
      }
    }
  }

  @media screen and (min-width: $breakpoint-tablet) {
    &__box-head {
      display: flex;
      flex-direction: row;
      &-image {
        flex: 1;
      }
      &-text {
        flex: 1;
        padding-top: 30px;
      }
    }
  }
}
