.special-list {
  border-radius: 10px;
  box-shadow: 0 10px 30px 0 rgba($color-black, 0.16);
  margin-top: 25px;
  padding: 25px;

  &__container {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }

  &__title {
    color: $color-tangaroa;
    font-family: $font-primary-bold;
    font-size: rem($font-size-medium);
  }

  &__item {
    border-bottom: 1px solid $color-gainsboro;
    list-style: none;
    padding-bottom: 8px;

    &:nth-child(n+4) {
      display: none;
      opacity: 0;
    }

    &-content {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
    }

    &-wrapper {
      align-items: center;
      display: flex;
    }

    &-image {
      border-radius: 5px;
      height: 40px;
      overflow: hidden;
      width: 40px;
    }

    &-text {
      color: $color-tangaroa;
      font-size: rem($font-size-medium);
      line-height: $font-size-h3;
      margin-left: 20px;
      max-width: 120px;
    }

    &-arrow {
      border-right: 2px solid $color-light-slate-grey;
      border-top: 2px solid $color-light-slate-grey;
      height: 8px;
      margin-right: 5px;
      transform: rotate(45deg);
      width: 8px;
    }

    &--show {
      border-bottom: 1px solid $color-gainsboro;
      display: list-item !important;
      opacity: 1 !important;
      padding-bottom: 8px;
    }
  }

  &__link {
    margin-top: 25px;
  }

  @media screen and (min-width: $breakpoint-mobile) {
    &__container {
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__item {
      flex-basis: calc(50% - 10px);
      margin-right: 20px;
    }

    &__item:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: $breakpoint-mobile-landscape) {
    &__item {
      &-text {
        max-width: none;
      }
    }
  }

  @media screen and (min-width: $breakpoint-tablet) {
    &__item {
      flex-basis: calc(33% - 12px);
      margin-right: 22px;
    }

    &__item:nth-child(2n) {
      margin-right: 22px;
    }

    &__item:nth-child(3n) {
      margin-right: 0;
    }
  }
}
