/* stylelint-disable */
/* ------------------------------------------------------------ *\
    Base WordPress CSS
    Feel free to modify or outright delete these default styles.
\* ------------------------------------------------------------ */

.alignnone,
.alignleft,
.alignright,
.aligncenter {
  margin: 5px 15px 10px;
}

.alignleft {
  float: left;
  margin-left: 0;
}

.alignright {
  float: right;
  margin-right: 0;
}

.alignnone {
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  position: relative;

  img {
    width: 100%;
  }

  &-text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
}

/* ------------------------------------------------------------ *\
    Articles
\* ------------------------------------------------------------ */

.articles {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ------------------------------------------------------------ *\
    Sidebar
\* ------------------------------------------------------------ */

.widgets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* ------------------------------------------------------------ *\
    Gallery
\* ------------------------------------------------------------ */

.gallery {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px;

  &-item {
    float: left;
    position: relative;
    padding: 10px;

    .gallery-columns-1 & {
      width: 100%;
    }

    .gallery-columns-2 & {
      width: 50%;
    }

    .gallery-columns-3 & {
      width: 33.33%;
    }

    .gallery-columns-4 & {
      width: 25%;
    }

    .gallery-columns-5 & {
      width: 20%;
    }

    .gallery-columns-6 & {
      width: 16.67%;
    }

    .gallery-columns-7 & {
      width: 14.29%;
    }

    .gallery-columns-8 & {
      width: 12.5%;
    }

    .gallery-columns-9 & {
      width: 11.11%;
    }
  }

  .wp-caption {
    .gallery-columns-7 &,
    .gallery-columns-8 &,
    .gallery-columns-9 & {
      display: none;
    }

    &-text {
      right: 10px;
      bottom: 10px;
      left: 10px;
      text-align: left;
    }
  }
}

/* ------------------------------------------------------------ *\
    Search Form
\* ------------------------------------------------------------ */

.search-form {
  position: relative;
  overflow: hidden;

  &__field {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f7f7f7;

    &:focus {
      background-color: #fff;
    }

    &::placeholder {
      color: #777;
    }
  }

  .screen-reader-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0.5;
    visibility: hidden;
  }
}
